/* Empty. Add your own CSS if you like */
.button.button-standard {
    color: #fff;
    background-color: #0c9400;
    border-color: #0c9400;
}

.button.button-standard:hover {
    background-color: #008705;
}

.button.button-alternate {
    color: #fff;
    background-color: #039BE5;
    border-color: #039BE5;
}

.button.button-alternate:hover {
    background-color: #0288D1;
}

.textContainer {
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.textContainer.small {
    margin-top: 20px;
    font-size: 13px;
}

.plantAvatar {
    padding-left: 16px;
}

.homeImage {
    max-width: 577px;
    width: 100%;
}

.homeImage-container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 577px;
    width: 100%;
}
