/* Empty. Add your own CSS if you like */
.button.button-standard {
    color: #fff;
    background-color: #0c9400;
    border-color: #0c9400;
    box-shadow: 0px 4px 15px grey;
}

.button.button-standard:hover {
    background-color: #008705;
}

.button.button-alternate {
    color: #fff;
    background-color: #039BE5;
    border-color: #039BE5;
    box-shadow: 0px 3px 5px grey;
}

.button.button-alternate:hover {
    background-color: #0288D1;
}

.textContainer {
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.textContainer.small {
    margin-top: 20px;
    font-size: 13px;
}

.plantAvatar {
    padding-left: 16px;
}

.aboutAvatar {
    padding-left: 16px;
}

.aboutAvatar-text {
    white-space: normal !important;
    overflow: visible !important;
}

.homeImage {
    max-width: 577px;
    width: 100%;
}

.homeImage-container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 577px;
    width: 100%;
}

.bar.bar-stable {
    background-color: #0c9400;
}
.cardContainer {
    background-color: lightgrey;
}
.item-avatar h2 {
    color: #0c9400;
}
.menu-footer {
    margin-top: 20px;
    text-align: center;
}
.menu-footer-link {
    text-decoration: none;
    color: grey;
}
.bar-header {
    box-shadow: 0px 0px 10px grey;
}
.infoList {
    margin: initial;
    padding: initial;
    list-style: initial;
}
.infoList li {
    margin-left: 20px;
}
