<ion-view view-title="About App">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar aboutAvatar">
            <h2 class="aboutAvatar-text">Southern California's year-round growing season</h2>
            <p></p>
        </div>
        <div class="item item-body">
            <div class="textContainer">In our community garden in Los Angeles (near LAX airport), we harvest every week of the year.</div>
            <div class="textContainer">The trick to year-round harvests in Southern California is knowing what to plant when. You must find the courage to dismiss the instructions in East Coast garden books and on the backs of the seed packets.</div>
            <div class="textContainer">The planting times in this app have been tested and adjusted over 8+ years of our own growing experience.</div>
            <div class="textContainer">If you are planting seedlings, rather than sowing seeds, adjust your planting times by one to two months, depending on whether your seedling is big or little.</div>
            <div class="textContainer">Meanwhile, pay special attention to soil building. When you demand year-round harvests from your garden, that takes a lot of nutrients from your soil. For more information, see our ebook, The Secrets of Soil Building, available at www.Change-Making.com</div>
        </div>
    </div>
  </ion-content>
</ion-view>
