<ion-view view-title="About ECM">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar aboutAvatar">
            <h2 class="aboutAvatar-text">Environmental Change-Makers of Westchester/Los Angeles</h2>
            <p></p>
        </div>
        <div class="item item-body">
            <div class="textContainer">The Environmental Change-Makers community group helps people discover the skills, joys, connections, and fulfillment of the new future.</div>
            <div class="textContainer">At ECM we understand that the world is changing dramatically. And we are helping people acquire the skills to cope and address world crises.</div>
            <div class="textContainer">ECM offers a lively calendar of classes, projects, and events focused on the new future. Join the ECM mailing list to get news and info about events: www.EnviroChangeMakers.org</div>
            <div class="textContainer">Joanne Poyourow, co-founder of ECM (and author of the material in this app) writes a blog about topics relating to sustainability. Follow Joanne at www.Change-Making.com</div>
        </div>
    </div>
  </ion-content>
</ion-view>
