<ion-view view-title="Plants and Seasons">
  <ion-content class="padding">
      <div class="textContainer">Welcome to Plants and Seasons!</div>
      <div class="textContainer">To begin, select either option.</div>

      <button ng-click="go('app/month')" class="button button-block button-standard">Months</button>
      <button ng-click="go('app/plant')" class="button button-block button-standard">Plants</button>

      <div class="textContainer small">To see more information, use the left side menu.</div>
  </ion-content>
</ion-view>
