<ion-view view-title="Plants and Seasons">
  <ion-content class="padding">
      <div class="textContainer">Welcome to<br/>What to Plant When in Southern California!</div>
      <div class="textContainer">Discover what seeds to sow for a specific month.</div>

      <button ng-click="go('app/month')" class="button button-block button-standard">Months</button>

      <br />

      <div class="textContainer">Discover when to sow seeds for a specific vegetable plant.</div>
      <button ng-click="go('app/plant')" class="button button-block button-standard">Plants</button>

      <div class="homeImage-container"><img class="homeImage" src="images/ecm-logo.jpg"/></div>

      <div class="textContainer small">To see more information, use the left side menu.</div>
  </ion-content>
</ion-view>
