<ion-view view-title="About App">
  <ion-content class="cardContainer">
    <div class="list card">
        <div class="item item-avatar aboutAvatar">
            <h2 class="aboutAvatar-text">More garden info</h2>
            <p></p>
        </div>
        <div class="item item-body">
            Would you like more practical, helpful info about growing food in Southern California?  We have other publications, including:<br />
            <ul class="infoList">
                <li>The Secrets of Soil Building</li>
                <li>Water Wisdom for High-yield Gardens</li>
                <li>Food from a Flowerpot</li>
                <li>Your Community Garden: best practices for organizers</li>
                <li>The Vegetable Crop Rotation Wheel</li>
                <li>How to get rid of Bermuda grass</li>
                <li>and much more ...</li>
                <br />
                Find them all at <br />
                <a onclick="window.open('www.change-making.com/shop/', '_system', 'location=yes'); return false;">www.Change-Making.com</a>
            </ul>
        </div>
    </div>
  </ion-content>
</ion-view>
